/***** Custom CSS *****/
/************* Css for Header******************/
  body
  {
    font-family: Myriad Pro;
    background-color: #23612E !important;
    margin: 0 10px;
  }
  #header {position: relative;}
  .container-inline
  {
  position: absolute;
    right: 10px;
    top: 30px;
  }
    #header img
  {
    float:left !important;
  }
  #site-name,#site-name a
  {
      color: #5B650F;
      text-decoration:none;
      font-family: Georgia;
      font-size:42px;
      margin-left:30px;
      font-weight:bold;
      padding:10px 0 0 0 !important;
  }
  #site-slogan
  {
    color: #98B826;
    font-family: Georgia;
    font-size: 22px;
    font-weight: bold;
    margin-left: 159px;
    padding-top: 5px;
  }
  #navigation
  {
    background-color: #5B650F !important;
    padding: 10px 10px 10px 32px;
  }
 #navigation li,#footer .content ul
  {
    display:inline;
  }
  #primary  li a{
    font-family:Myriad Pro;
    font-size:13px;
    color:#FFFFFF;
    font-weight:bold;
    padding: 12px 14px;
    text-shadow:0.5px 0.5px #CCCCCC;
  }
 #primary .active
  {
    background-color:#98B827;
  }
  #banner_img
  {
    height:13em;
  }
  #header-region .form-submit
  {
    background-color: #98B827;
    color: #FFFFFF;
    padding: 0 10px;
  }
  #header-region #edit-search-block-form--2
  {
    width:170px;
    height:28px;
  }
  .menu li a:hover
  {
    text-decoration:underline;
  }

/**************Css for Content part ***************/
  p
  {
   color: #817B74;
   line-height: 1.3em;
   font-size:14px;
   text-align: justify;
  }
  #content
  {
    padding-left:10px;
  }
  #header,#sidebar-first,#sidebar-second
  {
    background-color: #FFFFFF;
  }
  #sidebar-second p
  {
    color: #817B74;
   line-height: 1.3em;
   font-size:14px;
   text-align: justify;
    padding-left: 8px;
  }
  #main
  {
    background-color: #FFFFFF;
    margin-bottom: 10px;
  }
  #first-time,#secondary,.breadcrumb
  {
    display:none;
  }
  .left
  {
      float:left;
  }
  .right,.header_right,.column-block-wrapper a
  {
      float:right;
  }
  .clear
  {
      clear:both;
  }
  #content-header h1
   {
      color:#5A650F;
      font-size: 19px;
      font-weight: bold;
      margin: 10px 0 0;
      padding:0px;
   }
   #sidebar-second h2
   {
    color:#5A650F;
    font-size: 17px;
    font-weight: bold;
   margin: 12px 0 0 8px;
    padding:0px;
   }
   .content h2
   {
     color:#98b827;
     font-size:18px;
   }
   #content #content-area .content img
  {
    float:left;
    margin-right:8px;
    text-align:justify;
  }

/******Css for Page bottom**********/
  #bottom-columns .block-title
  {
    background-color: #5B650F;
    color:#FFFFFF;
    font-size:18px;
    font-weight:bold;
    margin:0px;
    text-align:center;
    padding:8px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
 .column-block-wrapper img
  {
    padding:5px;
    float:left;
  }
  #bottom-columns li
  {
    text-align:left;
    line-height: 1.3em;
    margin-left:20px;
    font-size: 13px;
    font-weight:bold;
    color:#000000 !important;
    clear:both;
  }
  .column-block
  {
    margin-bottom: 10px;
   border: 1px solid #95B526;
   background-color: #EBEBEB;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   border-collapse:collapse;
   margin-right:10px !important;
  }
  #bottom-columns
  {
    margin-left:10px;
  }
/**********Css for Footer Part***********/
  #footer li a
  {
    color:#7F7A74;
    font-size: 14px;
    font-family:Myriad Pro;
  }
  #footer p
  {
    color:#7F7A74;
    font-size: 14px;
    font-family:Myriad Pro;
    /*margin-left:111px;*/
    text-align:center;
     margin-bottom:2px;  
  }
  #footer .content
  {
      margin-left:20%;
  }
  .last
  {
      border-right:none !important;
  }
  #footer li
  {
     border-right: 1px solid #CCCCCC;
     float: left !important;
     font-size: 14px;
     list-style-type: none;
     padding: 0 5px;
    
  }
  #footer
  {
    background-color: #FFFFFF;
    padding:15px;
  }
/******Css for Socialbar*****/
  
  #socialbar {
      height: 60px;
  }
  ul.social {
      float: right;
      list-style: none outside none;
      margin: 10px 10px 0;
  }
  ul.social li {
      float: left;
      margin-left: 10px;
  }
/***** CSS of bottom block columns *****/
  .column-block-wrapper {
    float: left;
    
  }
  /***** CSS of Page Layout  *****/
  .one-sidebar.sidebar-first #content {
    margin-left: 27.0213%;
    margin-right: 2.12766%;
    width: 72.9787%;
  }
  .sidebar-first #sidebar-first {
    margin-left: -102.128%;
  }
  #sidebar-first {
    margin-left: -66.5957%;
    margin-right: 2.12766%;
    width: 24.8936%;
  }
  #sidebar-second {
    margin-left: 0;
    margin-right: 2.12766%;
    width: 21.10%;
  }